<web-app 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    id="Your_WebApp_ID"
    version="2.5">

  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>StartServlet</servlet-name>
  	<servlet-class>com.santana.sc.monitor.StartServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MapServlet</servlet-name>
  	<servlet-class>com.santana.sc.monitor.MapServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SensorServlet</display-name>
  	<servlet-name>SensorServlet</servlet-name>
  	<servlet-class>com.santana.sc.monitor.SensorServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>BuildingSensor</display-name>
  	<servlet-name>BuildingSensor</servlet-name>
  	<servlet-class>com.santana.sc.monitor.BuildingSensor</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SemaphoreServlet</display-name>
  	<servlet-name>SemaphoreServlet</servlet-name>
  	<servlet-class>com.santana.sc.monitor.SemaphoreServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>BusServlet</display-name>
  	<servlet-name>BusServlet</servlet-name>
  	<servlet-class>com.santana.sc.monitor.BusServlet</servlet-class>
  </servlet>
 
  <servlet>
  	<description>
  	</description>
  	<display-name>TerminalServlet</display-name>
  	<servlet-name>TerminalServlet</servlet-name>
  	<servlet-class>com.santana.sc.monitor.TerminalServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>BusStopServlet</display-name>
  	<servlet-name>BusStopServlet</servlet-name>
  	<servlet-class>com.santana.sc.monitor.BusStopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StartServlet</servlet-name>
  	<url-pattern>/StartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MapServlet</servlet-name>
  	<url-pattern>/MapServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SensorServlet</servlet-name>
  	<url-pattern>/SensorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BuildingSensor</servlet-name>
  	<url-pattern>/BuildingSensor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SemaphoreServlet</servlet-name>
  	<url-pattern>/SemaphoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BusServlet</servlet-name>
  	<url-pattern>/BusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TerminalServlet</servlet-name>
  	<url-pattern>/TerminalServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BusStopServlet</servlet-name>
  	<url-pattern>/BusStopServlet</url-pattern>
  </servlet-mapping>
</web-app>
